.heading{
  text-align: center;
}

.caution-list{
  text-align: center;
  margin: 2rem;
  padding: 0;
  list-style:none;
}

.caution-list li{
  margin: 1rem 0;
  border: 1px solid red;
  padding: 1rem;
}
